*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html , body{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(16, 16, 16)
}

.main-container{
    width: 400px;
    max-width: 80%;
    height: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2),
                -5px -5px 5px rgba(61, 60, 60, 0.1);
    border-radius: 16px;
    background-color: rgb(83, 79, 79);
    
}

#heading{
    padding: 0px 8px;
    box-shadow: 1px 1px 5px black;
    color: white;
}



.input-section{
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 20px;
    width: 80%;
    padding: 15px;
}

.input-1 , .input-2{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label{
    font-size: 20px;
    color: white;
    font-weight: 600;
}

#height , #weight , #btn{
    padding: 5px;
    font-size: 15px;
    border-radius: 8px;
    border: none;
}

#height , #weight{
    height: 35px;
    box-shadow: 2px 2px 5px black inset;
    padding: 0px 10px;
}



#btn{
    font-size: 20px;
    transition: all 0.3s;
    background-color: rgb(9, 123, 9);
    color: white;
}


#btn:active{
    transform: scale(0.98);
}

.result-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bmi , #category{
    color: white;
    font-size: 20px;
}





































